.sidebar-brand-text{
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav-item {
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
  }


  @media all and (min-width: 750px){

    .nav-item {
        font-size: 20px;
      }
    }